<div class="pt-5" *ngIf="completed">
    <a class="btn negro text-light m-3 px-5 py-2 " id="profile" data-toggle="modal" data-target="#AddLinkModal"
        (click)="setEditTrue()">Add
        Link</a>
    <div class="container">
        <div class="d-flex align-items-center card-group justify-content-around">
            <div *ngFor="let link of links;let i=index">
                <div class="p-2" style="color: black;">
                    <div class="card linkCard d-flex flex-row align-items-center round " style="max-width: 550px;">
                        <i class="fa-solid fa-xmark m-2" id="{{link.id}}" (click)="deleteNotification(link)"></i>
                        <i class="fa-solid fa-pen m-2" id="{{link.id}}" (click)="edit(link)" data-toggle="modal"
                            data-target="#AddLinkModal"></i>
                        <a href="{{link.link}}" class="fa-solid fa-location-arrow" target="_blank"></a>

                        <img class="card-img-left m-2" src="assets/img/logos/{{link.logo}}" alt="{{link.logo}} logo"
                            width="10%">
                        <div class="card-body">
                            <h2>{{link.title}}</h2>
                            <p>{{link.link}}</p>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Add Link Modal -->
    <div class="modal fade" id="AddLinkModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="Login Form" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{this.linkForm.value.edit? 'Edit': 'Add'}} Link</h5>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close" (click)="reset()">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="navbar-brand p-2 text-black align-center d-flex justify-content-center"><span
                        class="fw-800">Link</span>Zipper</div>

                <div class="modal-body">
                    <form [formGroup]="linkForm" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" formControlName="titleLink" class="form-control" id="title"
                                aria-describedby="title input" placeholder="Title" (ngModelChange)="handleChange()">
                            <small *ngIf="this.linkForm.get('titleLink')?.errors?.['required']" class="text-danger">
                                Title must not be empty
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="link">Link:</label>
                            <div class="input-group mb-3 xxl-col-6">
                                <select formControlName="linkSelect" class="xxl-col-6 form-select form-select-sm input-group-text"
                                aria-describedby="link select" aria-label=".form-select-sm example" id="linkSelect" (ngModelChange)="handleChange()">
                                <option value="https://youtube.com/" id="youtubeLink">https://youtube.com/</option>
                                <option value="https://facebook.com/" id="facebookLink">https://facebook.com/</option>
                                <option value="https://instagram.com/" id="instagramLink">https://instagram.com/</option>
                                <option value="https://twitter.com/" id="twitterLink">https://twitter.com/</option>
                                <option value="https://linkedin.com/" id="linkedinLink">https://linkedin.com/</option>
                                <option value="https://pinterest.com/" id="pinterestLink">https://pinterest.com/</option>
                                <option value="0" id="otherLink" [defaultSelected]="true">Other</option>
                            </select>
                                <input type="text" formControlName="link" class="form-control xxl-col-6" id="link"
                                    aria-describedby="link input" (ngModelChange)="handleChange()">
                            </div>
                            <small *ngIf="this.linkForm.get('linkSelect')?.errors?.['required']" class="text-danger">
                                Select must not be empty
                            </small>
                            <small *ngIf="this.linkForm.get('link')?.errors?.['required']" class="text-danger">
                                Link must not be empty
                            </small>
                            <small *ngIf="this.linkForm.get('link')?.errors?.['linkValid']" class="text-danger">
                                Link must be valid
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="logo">Logo:</label>
                            <select formControlName="logo" class="form-select form-select-sm"
                                aria-describedby="logo select" aria-label=".form-select-sm example"
                                (ngModelChange)="handleChange()" id="logoSelect">
                                <option value="yt.png" id="youtube">Youtube</option>
                                <option value="f.png" id="facebook">Facebook</option>
                                <option value="i.png" id="instagram">Instagram</option>
                                <option value="t.png" id="twitter">Twitter</option>
                                <option value="l.png" id="linkedin">LinkedIn</option>
                                <option value="p.png" id="pinterest">Pinterest</option>
                                <option value="o.png" id="other">Other</option>
                            </select>
                            <small *ngIf="this.linkForm.get('logo')?.errors?.['required']" class="text-danger">
                                Logo must not be empty
                            </small>
                        </div>
                        <button *ngIf="!linkForm.value.edit" id="btnSubmit" type="submit" aria-label="Close"
                            data-toggle="modal" class="btn bg-black text-light w-100 my-2 rounded">Add</button>
                        <button *ngIf="linkForm.value.edit" id="btnSubmit" type="submit" aria-label="Close"
                            data-toggle="modal" class="btn bg-black text-light w-100 my-2 rounded">Edit</button>
                    </form>
                    <div class="text-danger">{{resultado}}</div>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="status" class="alert alert-light h2 rounded-full d-flex justify-content-center m-5">
        <p class="p-2">You haven't <span class="text-danger cursor-pointer" data-toggle="modal"
                data-target="#AddLinkModal">add</span> any links yet</p>
    </div>
</div>

<!-- carga -->
<div class="d-flex justify-content-center pt-5" *ngIf="!completed">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>