.linkCard{
    border-radius: 20px;
    border: 2px solid black;
}

a{
    color: black;
}

.fa-xmark{
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .card-group{
        flex-direction: column !important;
    }
}