<!-- Login Modal -->
<div class="modal fade" id="LOGINModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="Login Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="navbar-brand p-2 text-black align-center d-flex justify-content-center"><span class="fw-800">Link</span>Zipper</div>

            <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" formControlName="user" class="form-control" id="username"
                            aria-describedby="username input" placeholder="Username">
                        <small *ngIf="this.loginForm.get('user')?.errors?.['required']" class="text-danger">
                            Username must not be empty
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" formControlName="pass" class="form-control" id="password"
                            aria-describedby="password input" placeholder="Password">
                        <small *ngIf="this.loginForm.get('pass')?.errors?.['required']" class="text-danger">
                            Password must not be empty
                        </small>
                    </div>

                    <a href="#" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#REGISTERModal" class="link text-primary py-3">No account?</a>
                    <button type="submit" class="btn bg-black text-light w-100 my-2 rounded">Confirmar</button>
                </form>
                <div class="text-danger">{{resultado}}</div>
            </div>
        </div>
    </div>
</div>