.nav-selected {
    text-decoration: underline;
}

.navbar {
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .navbar {
        align-items: center;
        font-size: 30px;
    }

    .linksNav {
        /* display: flex; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}