<nav class="navbar navbar-expand-lg navbar-light blanco p-2 justify-content-between">
    <a class="navbar-brand p-2" routerLink="index"><span class="fw-800">Link</span>Zipper</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerLogin"
        aria-controls="navbarTogglerLogin" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="linksNav collapse navbar-collapse justify-content-between" id="navbarSupportedContent"> -->
    <div class="linksNav collapse navbar-collapse justify-content-between" id="navbarTogglerLogin">
    <a class="navbar-brand p-2" routerLink="/index"></a>
        <ul class="navbar-nav p-2 display-6">
            <a class="nav-link" id="preview" routerLink="panel/preview">PREVIEW</a>
            <a class="nav-link" id="links" routerLink="panel/links">LINKS</a>
            <a class="nav-link" id="profile" routerLink="panel/profile">PROFILE</a>
        </ul>
        <a class="btn negro text-light" id="profile" (click) = "logout()">LOGOUT</a>
    </div>
</nav>