<nav class="navbar navbar-expand-lg navbar-light blanco p-2 justify-content-between">
        <a class="navbar-brand p-2" routerLink="index"><span class="fw-800">Link</span>Zipper</a>
    <ul class="navbar-nav p-2">
        <a class="nav-link" id="preview" routerLink="panel/preview">PREVIEW</a>
        <a class="nav-link" id="links" routerLink="panel/links">LINKS</a>
        <a class="nav-link" id="profile" routerLink="panel/profile">PROFILE</a>
    </ul>

    <a class="btn negro text-light" id="profile" routerLink="">LOGOUT</a>

</nav>