input[type="search"] {
    background-color: #E9E6E1;
    border: #E9E6E1;
    width: 10em;
    text-align: center;
}

input::placeholder {
    color: #3d3d3d;
    text-align: center;
}

.boton {
    color: #FFFFFB;
}
.nav-link{
    cursor: pointer;
}

@media screen and (max-width: 991px) {

    .search {
        display: flex;
        justify-content: center;
    }

    .navbar-nav{
        align-items: center;
        font-size: 30px;
    }

}