.search{
    width: 50%;
}

#searchInput {
    background-color: #E9E6E1;
    border: #E9E6E1;
    width: 10em;
    text-align: center;
    width: auto;
}

input::placeholder {
    color: #3d3d3d;
    text-align: center;
}

.boton {
    color: #FFFFFB;
}
.nav-link{
    cursor: pointer;
}
.btnSearch{
    transition: all 1s;
}

.btnSearch:hover{
    color: rgb(105, 105, 105);
    font-size: 18px;
}

@media screen and (max-width: 991px) {

    .search {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-nav{
        align-items: center;
        font-size: 30px;
    }

}