<!-- Register Modal -->
<div class="modal fade" id="REGISTERModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="Register Form" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="navbar-brand p-2 text-black align-center d-flex justify-content-center"><span
                    class="fw-800">Link</span>Zipper</div>
            <div class="invisible" role="alert" id="alertReg">{{resultado}}</div>

            <div class="modal-body">
                <form [formGroup]="registerForm" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="usernameRegister">Username:</label>
                        <input type="text" formControlName="userName" class="form-control" id="usernameRegister"
                            aria-describedby="username input" placeholder="Username">
                        <small *ngIf="this.registerForm.get('userName')?.errors?.['required']" class="text-danger">
                            Username must not be empty
                        </small>
                        <small *ngIf="this.registerForm.get('userName')?.errors?.['maxLength']" class="text-danger">
                            Must be less than 12 characters
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="emailRegister">Email:</label>
                        <input type="email" formControlName="email" class="form-control" id="emailRegister"
                            aria-describedby="email input" placeholder="Email">
                        <small *ngIf="this.registerForm.get('email')?.errors?.['required']" class="text-danger">
                            Email must not be empty
                        </small>
                        <small *ngIf="this.registerForm.get('email')?.errors?.['email']" class="text-danger">
                            Format no valid
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="passwordRegister">Password:</label>
                        <div class="input-group">
                            <input type="password" formControlName="pass" class="form-control" id="passwordRegister"
                                aria-describedby="password input" placeholder="Password">
                            <div class="input-group-prepstart">
                                <div class="input-group-text pointer" (click)="showPassword()">&nbsp;<i
                                        class="fa-solid fa-eye" id="eye"></i>&nbsp;</div>
                            </div>
                        </div>
                        <small *ngIf="this.registerForm.get('pass')?.errors?.['passwordValid']" class="text-danger">
                            Minimum eight characters, at least one uppercase letter, one lowercase letter and one number
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password:</label>
                        <div class="input-group">
                            <input type="password" formControlName="passConfirm" class="form-control"
                                id="passwordConfirm" aria-describedby="confirm password input"
                                placeholder="Confirm Password">
                            <div class="input-group-prepstart">
                                <div class="input-group-text pointer" (click)="showPasswordConfirm()">&nbsp;<i
                                        class="fa-solid fa-eye" id="eyeConfirm"></i>&nbsp;</div>
                            </div>
                        </div>
                        <small *ngIf="this.registerForm.errors?.['noMatchPass']" class="text-danger">
                            Passwords must match
                        </small>
                    </div>
                    <a href="#" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#LOGINModal"
                        class="link text-primary py-3">Already Account?</a>

                    <button id="btnSubmitRegister" type="submit" aria-label="Close" data-toggle="modal"
                        class="btn bg-black text-light w-100 my-2 rounded">Confirm <span *ngIf="completed" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>