<div class="card-group justify-content-evenly pt-5" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <div *ngFor="let user of usersToShow;let i=index">
        <app-card-profile [user]="user" [btn]="true"></app-card-profile>
    </div>
</div>

<button *ngIf="showGoUpButton" class="animation btn negro text-light no-hidden" (click)="scrollTop()"><i
        class="fa-solid fa-angle-up"></i></button>


<!-- carga -->
<div class="d-flex justify-content-center pt-5" *ngIf="!completed">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>