.cont {
    height: 100vh;
    margin: 0;
}

.navApp {
    min-height: 50px;
}

.footer {
    min-height: 50px;
}

/* Trick */
.cont {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}