<div class="container">
    <div class="cardInput gridLink">
        <div class="d-flex align-items-center justify-content-center div1 inline-flex">
            <p class="col-xxl-9 col-xl-6 col-lg-7 col-md-6 m-2" type="text" placeholder="" id="url"></p>
        </div>

        <div class="d-flex div2">
            <button type="submit"
                class="btn bg-black text-light col-xxl-6 col-xl-6 col-lg-5 col-md-5 col-sm-10 m-2 rounded"
                (click)="copy()">Copy Link</button>
            <button type="reset" class="btn gris text-dark col-xxl-5 col-xl-6 col-lg-5 col-md-5 col-sm-10 m-2 rounded"
                routerLink="/panel/preview">Preview</button>
        </div>

    </div>

    <form [formGroup]="profileForm" (ngSubmit)="submit()" class="gridForm cardInput">

        <div class="infoButtons">
            <p>@{{user.user}}Likes{{user.likes}}</p>
            <a routerLink="/likes">See Likes</a>
        </div>

        <div class="profileImg p-2 ">
            <label for="formFile" class="form-label">Profile Imagen:</label>
            <div class="fileStyle">
                <input class="form-control file" type="file" id="formFile" style="height: 90%;">
            </div>
        </div>
        <div class="data">
            <div class="row d-flex">
                <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                    <label for="displayName">Display Username:</label>
                    <input type="text" formControlName="displayName" class="form-control" id="displayName"
                        aria-describedby="username input" placeholder="UserName">
                    <small *ngIf="this.profileForm.get('displayName')?.errors?.['required']" class="text-danger">
                        Display Name must not be empty
                    </small>
                </div>
                <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                    <label for="email">Email:</label>
                    <input type="email" formControlName="email" class="form-control" id="email"
                        aria-describedby="email input" placeholder="Email">
                    <small *ngIf="this.profileForm.get('email')?.errors?.['required']" class="text-danger">
                        Email must not be empty
                    </small>
                    <small *ngIf="this.profileForm.get('email')?.errors?.['email']" class="text-danger">
                        Format no valid
                    </small>
                </div>
            </div>
            <div class="row d-flex">
                <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                    <label for="password">Password:</label>
                    <input type="password" formControlName="pass" class="form-control" id="password"
                        aria-describedby="password input" placeholder="Password">
                    <small *ngIf="this.profileForm.get('pass')?.errors?.['required']" class="text-danger">
                        Display Name must not be empty
                    </small>
                    <small *ngIf="this.profileForm.get('pass')?.errors?.['passwordValid']" class="text-danger">
                        Minimum eight characters, at least one uppercase letter, one lowercase letter and one number
                    </small>
                </div>
                <div class="form-group col-xxl-6 col-xl-6 col-lg-6 col-md-12">
                    <label for="theme">Theme:</label>
                    <select [(ngModel)]='themeSelect' formControlName="theme" class="form-select form-select-sm"
                        aria-describedby="theme select" aria-label=".form-select-sm example">
                        <option value=""></option>
                        <option value="white">White</option>
                        <option value="dark">Dark</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="blue">Blue</option>
                    </select>
                    <small *ngIf="this.profileForm.get('theme')?.errors?.['required']" class="text-danger">
                        Theme must not be empty
                    </small>
                </div>
            </div>
        </div>

        <div class="bgImg p-2 ">
            <label for="formFile" class="form-label">Background Imagen:</label>
            <div class="fileStyle">
                <input class="form-control file" type="file" id="formFile" style="height: 90%;">
            </div>
        </div>

        <div class="desc m-2">
            <label for="desc" class="form-label">Description:</label>
            <textarea class="form-control rounded" name="desc" id="desc"
                style="height: 100px; background-color: #E9E6E1;" maxlength="200"></textarea>
        </div>

        <div class="buttons m-2">
            <button type="submit" class="btn bg-black text-light w-100 my-2 rounded">Save</button>
            <button type="reset" class="btn bg-light text-dark w-100 my-2 rounded">Reset</button>
        </div>
    </form>
    <div class="text-danger">{{resultado}}</div>
</div>