<div class="container"
    style="background-image: url('assets/img/{{user.bgImg}}');">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <app-card-profile [user]="user" color="white" btn="false"></app-card-profile>
    <div *ngFor="let link of user.links;let i=index">
        <a href="{{link[2]}}" style="color: black;">
            <div class="linkCard card d-flex flex-row align-items-center m-2 " style="max-width: 550px;">
                <img class="card-img-left m-2" src="assets/img/logos/{{link[3]}}" alt="{{link[1]}} logo" width="10%">
                <div class="card-body">
                    <h5 class="card-title display-6">{{link[1]}}</h5>
                </div>
            </div>
        </a>
    </div>
    </div>
    <a class="display-5 p-2 d-flex" routerLink="/index"><span class="fw-800">Link</span>Zipper</a>
</div>
