.cont {
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
}

.linkCard {
  border-radius: 20px;
  border: 2px solid black;
}

a {
  color: black;
}

/* Trick */
.cont{ 
  display:flex; 
  flex-direction:column; 
}

.linkZipper{
  margin-top:auto; 
  text-shadow: 0 0 3px #fff;
}