<div class="card m-2 z-index-n2 {{user.theme}}Theme" style="max-width: 550px;">
    <div class="row g-0">
        <div class="imgFlex col-md-3 d-flex align-items-center">
            <img src="http://app-65923f03-3292-4553-a3bd-88214cf326e1.cleverapps.io/api/user/img/logo/{{user.profileImg}}" class="img-fluid imgRound mx-2" alt="Profile img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-end">
                    <h5 class="card-title">{{user.showName}}</h5>
                    <h5 class="card-title d-flex align-items-center justify-content-end"><i
                            [class]="user.liked != null? 'fa fa-heart text-danger heart': 'fa-heart fa-regular heart'"
                            id="{{user.id}}like" (click)="heartControl(user.id)"></i><br><span
                            id="{{user.id}}likeCount" class="m-2">{{user.totalLikes |
                            unidadesLikes:user.totalLikes}}</span>
                    </h5>
                    <!-- </div> -->
                </div>
                <p class="card-text">{{user.description | descripcion:user.description}}</p>
                <a routerLink="/@{{user.userName}}" class="btn negro text-light w-100" id="btn">View profile</a>
            </div>
        </div>
    </div>
</div>
<!-- Para activar la notificacion si no ha iniciado sesion -->
<button class="invisible d-none" (click)="loginNotification()" id="notification"></button>