<div class="card m-2 z-index-n2" style="max-width: 550px; background-color: {{color}};">
    <div class="row g-0 ">
        <div class="imgFlex col-md-3 d-flex align-items-center">
            <img src="assets/img/{{user.profileImg}}" class="img-fluid imgRound mx-2" alt="Profile img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div *ngIf="liked;then likes else explore">
                </div>

                <p class="card-text" *ngIf="user.description.length > 1">"{{user.description}}"</p>
                <p class="card-text" *ngIf="user.description.length < 1"></p>
                <a routerLink="/@{{user.userName}}" class="btn negro text-light w-100" id="btn">View profile</a>
            </div>
        </div>
    </div>
</div>

<ng-template #likes>
    <div class="d-flex justify-content-between align-items-end">
        <h5 class="card-title">{{user.showName}}</h5>
        <h5 class="card-title"><i class="heart fa fa-heart text-danger" id="{{user.id}}like" (click)="disLike(user.id)"></i><br><span
                id="{{user.id}}likeCount">{{user.totalLikes}}</span></h5>
    </div>
</ng-template>
<ng-template #explore>
    <div class="d-flex justify-content-between align-items-end">
        <h5 class="card-title">{{user.showName}}</h5>
        <h5 class="card-title"><i class="heart fa-regular fa-heart" id="{{user.id}}like"
                (click)="like(user.id)"></i><br><span id="{{user.id}}likeCount">{{user.totalLikes}}</span>
        </h5>
    </div>
</ng-template>
<!-- Para activar la notificacion si no ha iniciado sesion -->
<button class="invisible d-none" (click)="notification()" id="notification"></button> 